.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
  }
  
  .header-padding {
    padding: 50px 0px 10px 40px;
  }
  
  .main-color-bg {
    background-color: #7ABED3;
    color: #FFF;
  }
  
  .search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
  }
  